<!-- breadcrumb -->
<nav
  class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a routerLink="/"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
          </path>
        </svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a routerLink="/cart"
          class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Cart</a>
      </div>
    </li>
  </ol>
</nav>
<!-- breadcrumb -->
<div class="container mx-auto">
  <div class="flex shadow-md mb-10">
    <!-- content -->
    <div class="w-3/4 bg-white px-10 py-10">
      <!-- header of content -->
      <div class="flex justify-between border-b pb-8">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <h2 class="font-semibold text-2xl">{{totalItem()}} Items</h2>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
      </div>
      <!-- end header of content -->
      <!-- product -->
      <div *ngFor="let item of carts" class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
        <div class="flex w-2/5">
          <div class="w-20">
            <img class="h-24" [src]="item.image" alt="">
          </div>
          <div class="flex flex-col justify-between ml-4 flex-grow">
            <span class="font-bold text-sm">{{item.title}}</span>
            <span (click)="removeItemCart(item.id)" class="font-semibold hover:text-red-500 text-gray-500 text-xs cursor-pointer w-auto">Remove</span>
          </div>
        </div>
        <div class="flex justify-center w-1/5">
          <svg (click)="decreaseItem(item.id, item.quantity)" class="cursor-pointer fill-current text-gray-600 w-3" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
          </svg>

          <input readonly class="mx-2 border text-center w-12" maxlength="2" type="text" [value]="item.quantity">

          <svg (click)="IncreaseItem(item.id)" class="cursor-pointer fill-current text-gray-600 w-3" viewBox="0 0 448 512">
            <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
          </svg>
        </div>
        <span class="text-center w-1/5 font-semibold text-sm">${{item.price}}</span>
        <span class="text-center w-1/5 font-semibold text-sm">${{totalPriceOneItem(item.price, item.quantity)}}</span>
      </div>
      <!-- end product-->
      <!-- continue shopping -->
      <a routerLink="/product" class="flex font-semibold text-indigo-600 text-sm mt-10">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
        Continue Shopping
      </a>
    </div>
    <!-- order -->
    <div id="summary" class="w-1/4 px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>

      <div *ngIf="isEmptyUserObj(userData)" class="my-5">
        <div class="mb-6">
          <label for="lastNameUser" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Last name</label>
          <input type="text" [(ngModel)]="lastname" id="nameUser" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nguyen" required>
        </div>
        <div class="mb-6">
          <label for="firstNameUser" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First name</label>
          <input type="text" [(ngModel)]="firstname" id="nameUser" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Van A" required>
        </div>
        <div class="mb-6">
          <label for="addressUser" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Address</label>
          <input type="text" [(ngModel)]="address" id="addressUser" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="HCM" required>
        </div>
        <div class="mb-6">
          <label for="phoneUser" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Phone</label>
          <input type="text" [(ngModel)]="phone" id="phoneUser" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="012456789" required>
        </div>
      </div>

      <div *ngIf="!isEmptyUserObj(userData)" class="my-5">
        <div class="mb-6">
          <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-indigo-800">
            Name
          </h6>
          <p class="ml-4">
            {{getName()}}
          </p>
        </div>
        <div class="mb-6">
          <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-indigo-800">
            Address
          </h6>
          <p class="ml-4">
            {{getAddress()}}
          </p>
        </div>
        <div class="mb-6">
          <h6 class="text-xl font-normal leading-normal mt-0 mb-2 text-indigo-800">
            Phone
          </h6>
          <p class="ml-4">
            {{getPhone()}}
          </p>
        </div>
      </div>
      <div class="border-t mt-8">
        <div class="flex justify-between my-5">
          <span class="font-semibold text-sm uppercase">Items {{totalItem()}}</span>
          <span class="font-semibold text-sm">{{totalPrice()}}$</span>
        </div>
        <button (click)="onCheckout()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">Checkout</button>
      </div>
    </div>

  </div>
</div>
